<div class="dashboard-container">

  <app-header></app-header>
  <app-sidebar (sidebarStatus)="content($event)"></app-sidebar>

  <div class="main-content" [@contentAnimation]="contentStatus">
    <div>
        <router-outlet></router-outlet>
    </div>    
    
    
  </div>
  <div class="module-footer">
  </div>
</div>
