.dashboard-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: repeat(12,1fr);
}

.main-content {
  grid-column: 1/13;
  margin-left: 60px;
  padding: 70px 6px 0px 6px; 
}

.module-footer {
  position: absolute;
  width: calc(100% - 72px);
  height: 39px;
  bottom: 0;
  background-color: #dee0e3;
  left: 66px;
}