:host {
  grid-column: 1/13;
  background-color: #545b61;
  position: fixed;
  height: 60px;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: 60px 200px 1fr 150px;
  grid-template-rows: 60px;
  grid-column-gap: 16px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.header-tittle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
}

.header-logo {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: #2d353c;
}

.header-profile {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 40% 60%;
}

.profile-image {
  display: block;
  margin: auto;
}

.img-profile {
  border-radius: 50%;
}

.profile-name {
  color: #ffffff;
  display: grid;
  padding-top: 10px;
  padding-bottom: 13px;
}

.name-profile {
  font-size: 14px;
}

.name-role {
  font-size: 12px;
}

.opener {
  cursor: pointer;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
}

.dropdown-list > li > a {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #2d353c;
}

.dropdown-list > li > a:hover {
  background-color: #e3e3e3;
  transition: background-color 0.3s;
 }

.dropdown-list > li > a > i {
 margin-right: 8px;
 vertical-align: middle
}

.dropdown-list > li > a > span {
  vertical-align: middle
}
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 