<div class="header-container">
  <div class="header-logo" style="background-image: url(assets/Logo.png);">
    
  </div>
  <div class="header-tittle" style="background-image: url(assets/Letras.png);">
    
  </div>
  
  <div class="header-profile opener" #userMenuOpener>
    <div class="profile-image">
      <img width="36px" height="36px" class="img-profile" src="assets/profile.jpg">
    </div>
    <div class="profile-name">
      <span class="name-profile">Luigi Pocay</span>
      <span class="name-role">Ing Sistemas</span>
    </div>    
  </div>
  
  <app-dropdown [width]="'200px'" [isOpen]="userMenu">
    <ul class="dropdown-list">
      <li (click)="logout()">
        <a href="">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>Cerrar Sesi&oacute;n</span>
        </a>         
      </li>
    </ul>
  </app-dropdown>
</div>
