<div class="main-content-module">
    
  <div class="content-module">
    <div class="content-header">
        <h1>G&eacute;neros</h1>
    </div>

    <button pButton label="Crear" icon="fa fa-fw fa-plus" (click)="openDialog()" class="col-1-offset-10 ui-button-success" style="width:100%;"></button>
    <button pButton label="Actualizar" icon="fa fa-fw fa-edit" [disabled]="!selectedGender" (click)="update()" class="col-1-offset-11 ui-button-info" style="width:100%;"></button>
    <button pButton label="Eliminar" icon="fa fa-fw fa-trash" [disabled]="!selectedGender" (click)="delete($event)" class="col-1-offset-12 ui-button-danger" style="width:100%;"></button>

    <p-table [value]="genders" 
             [(selection)]="selectedGender" 
             class="app-table" 
             [loading]="loading" 
             selectionMode="single"
             (onRowSelect)="onRowSelect($event)"
             [paginator]="true" 
             [rows]="15">

      <ng-template pTemplate="header">
          <tr>
              <th style="width: 2.5em;">Id</th>
              <th style="width: 6em;">Codigo</th>
              <th>Descripcion</th>
              <th>Fecha de Creacion</th>
              <th>Ultima vez que se actualizo</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gender>
        <tr [pSelectableRow]="gender">
            <td style="text-align: center;">{{ gender.id }}</td>
            <td style="text-align: center;">{{ gender.code }}</td>
            <td>{{ gender.description }}</td>
            <td>{{ formatDate(gender.created_at) | date:'dd/MM/yyyy, h:mm a' }}</td>
            <td>{{ formatDate(gender.updated_at) | date:'dd/MM/yyyy, h:mm a' }}</td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Genero" 
          [(visible)]="displayDialog" 
          [responsive]="true" 
          showEffect="fade" 
          [modal]="true" 
          [width]="300">

<form [formGroup]="genderForm" class="form-content">
  <div class="col-12">
    <label for="code">Codigo: </label>         
    <input id="code" class="form-input" pTooltip="Ingrese el Codigo" tooltipPosition="right" tooltipEvent="focus" type="text" formControlName="code" pInputText>            
  </div>
  <div class="col-12">    
    <label for="description">Descripcion: </label>       
    <input id="description" class="form-input" pTooltip="Ingrese una descripci&oacute;n" tooltipEvent="focus" tooltipPosition="right" type="text" formControlName="description" pInputText>
  </div>  
</form>
<p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">       
        <button type="button" pButton icon="fa-check" (click)="save(genderForm.value, $event)" label="Guardar"></button>
    </div>
</p-footer>
</p-dialog>


<p-confirmDialog header="Confirmacion" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
