.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    top: 0;
    left: 0;
    z-index: 2;
}

.loader-module {
    position: absolute;
    height: calc(100% - 66px);
    width: calc(100% - 66px);
    background-color: #e3e3e3;
    top: 66px;
    left: 66px;
}

.loader-icon {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
}