<div class="login-panel">
  <div class="login-img" style="background-image: url(assets/services-buildings-mlm.jpg);">

  </div>
  <div class="login-form">
    <div class="login-header">
      <h5>Welcome!</h5>
      <h6>Please login</h6>
    </div>
    <form [formGroup]="loginForm" class="form-login" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="ui-inputgroup form-grop">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Username" formControlName="email">
      </div>
      <div class="ui-inputgroup form-grop">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input type="password" pPassword placeholder="Password" [feedback]="false" formControlName="password">
      </div>
      <div class="button-submit form-grop">
          <button pButton type="submit" label="Login" style="width:100%;" [disabled]="!loginForm.valid"></button>
      </div>
    </form>
  </div>
</div>
