:host {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(235deg, #565867, #191a25);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 10% 80% 10%;
}

.login-panel {
    grid-row: 2/3;
    grid-column: 4/10;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-img {
   background-repeat: no-repeat;
   background-size: cover; 
}

.login-form {
    background-color: #fff;
    display: grid;
    grid-template-rows: 20% 20% 60%;
    padding: 20px;
}

.login-header {
    grid-row: 2/3;
}

.form-login {
    grid-row: 3/4;
}

.form-grop {
    margin-bottom: 15px;
}

input {
    width: 100%;
}

.submit-button {
    width: 100%;
}