<div class="main-content-module">  
  <div class="content-module">

    <div class="content-header">
      <h1>Usuarios</h1>
    </div>
    <button pButton label="Crear" icon="fa fa-fw fa-plus" (click)="openCreateUser()" class="col-1-offset-10 ui-button-success" style="width:100%;"></button>
    <button pButton label="Actualizar" icon="fa fa-fw fa-edit" [disabled]="!selectedUser"  class="col-1-offset-11 ui-button-info" style="width:100%;"></button>
    <button pButton label="Eliminar" icon="fa fa-fw fa-trash" [disabled]="!selectedUser"  class="col-1-offset-12 ui-button-danger" style="width:100%;"></button>

    <p-table [value]="users" 
             class="app-table" 
             [loading]="loading"
             [(selection)]="selectedUser"
             selectionMode="single"
             [paginator]="true" 
             [rows]="15">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2.5em;">Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Departamento</th>
          <th>Delegaci&oacute;n</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role_id}}</td>
          <td>{{user.deparment_id}}</td>
          <td>{{user.delegation_id}}</td>
        </tr>
      </ng-template>

    </p-table>

  </div>
</div>

<app-create [tittle]="'Crear el Usuario'" [isOpen]="userCreateDialog" (closedPanel)="openCreateUser()">
  <p-tabView tabs>
    <p-tabPanel header="Datos Basicos">
      <div class="form-content">
        <form [formGroup]="userForm" (ngSubmit)="submitUser(userForm.value)" class="form-content" #userform="ngForm">
          <div class="grid-content">
            <div class="col-6">
              <label for="description">Nombre: </label>
              <input pTooltip="Ingrese el nombre" tooltipEvent="focus" tooltipPosition="left" type="text" pInputText placeholder="Nombre" formControlName="name">
            </div>
            <div class="col-6">
              <label for="description">Apellido: </label>
              <input pTooltip="Ingrese el Apellido" tooltipEvent="focus" tooltipPosition="left" type="text" pInputText placeholder="Apellido" formControlName="lastname">
            </div>
            <div class="col-6">
              <label for="description">Correo: </label>
              <input pTooltip="Ingrese el Correo" tooltipEvent="focus" tooltipPosition="left" type="text" pInputText placeholder="Correo" formControlName="email">
            </div>
            <div class="col-6">
              <label for="description">Rol: </label>
              <p-dropdown [options]="roles_options" autoWidth="false" [style]="{'width':'50%','float':'right'}" formControlName="role_id"></p-dropdown>
            </div>
            <div class="col-6">
              <label for="description">Departamento: </label>
              <p-dropdown [options]="deparments_options" autoWidth="false" [style]="{'width':'50%','float':'right'}" formControlName="deparment_id"></p-dropdown>
            </div>
            <div class="col-6">
              <label for="description">Delegacion: </label>
              <p-dropdown [options]="delegations_options" autoWidth="false" [style]="{'width':'50%','float':'right'}" formControlName="delegation_id"></p-dropdown>
            </div>
            <div class="col-6">
              <label for="description">Contraseña: </label>
              <input pTooltip="Ingrese la contraseña" tooltipEvent="focus" tooltipPosition="left" type="password" pPassword placeholder="Password" [feedback]="false" formControlName="password">
            </div>
            <div class="col-6">
              <label for="description">Telefono 1: </label>
              <input pTooltip="Telefono 1" tooltipEvent="focus" tooltipPosition="left" type="text" pInputText placeholder="Telefono 1" formControlName="phone_1">
            </div>
            <div class="col-6">
              <label for="description">Telefono 2: </label>
              <input pTooltip="Telefono 2" tooltipEvent="focus" tooltipPosition="left" type="text" pInputText placeholder="Telefono 2" formControlName="phone_2">
            </div>
            <div class="col-6">
              <label for="description">Estatus: </label>
              <p-dropdown [options]="statuses" autoWidth="false" [style]="{'width':'50%','float':'right'}" formControlName="status"></p-dropdown>
            </div>
          </div>          
        </form>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Delegaciones">

      <p-pickList [source]="delegations" 
                  [target]="userDelegations" 
                  [responsive]="true" 
                  sourceHeader="Delegaciones" 
                  targetHeader="Delegaciones asigandas"
                  filterBy="code"
                  dragdrop="true"
                  dragdropScope="'delegations'">
        <ng-template let-delegation pTemplate="item">
          <span>{{ delegation.code }}</span>
        </ng-template>
      </p-pickList>
    </p-tabPanel>

  </p-tabView>

  <div class="grid-content" footerBtn>
      <button pButton label="Guardar" class="col-1-offset-11 ui-button-success" [disabled]="!userForm.valid"></button>
      <button pButton label="Cancelar" class="col-1-offset-12 ui-button-danger" (click)="openCreateUser()"></button>
  </div>

</app-create>
