:host {
  position: fixed;
  margin-top: 60px;
  height: 100%;
  width: 60px;
  background-color: #dee0e3;
  z-index: 1;
}

.icon-container {
  position: relative;
  height: 100%;
  box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 100;
}

.icon-list li {
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.icon-list li a {
  display: block;
  padding: 8px 0;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #c7c7c7;
}

.icon-list li a:hover i {
  color: #7a7a7a;
  
}

.icon-list li a i {
  transition: color 0.3s;
  color: #8f8f8f;
  font-size: 24px;
}
.side-menu-container {
  position: absolute;
  height: 100%;
  left: 60px;
  top: 0px;
  background-color: #ebebee;
  box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.side-menu {
  height: 100%;
}

.side-tittle {
  font-size: 16px;
  padding: 10px 12px;
  height: 40px;
  box-sizing: border-box;
  color: #2d353c;  
  border-bottom: 1px solid #c7c7c7;
}

.bars-icon {
  color: #2d353c;
  padding: 0px 4px;
  float: right;
}
.side-options {
  padding: 6px 6px 6px 6px;
  height: 100%;
  overflow: auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li > a {
  color: #545b61;
  display: block;
  padding: 6px;
  transition: background-color 0.3s;
}

.menu li > a i:last-child {
  float: right;
  margin-top: 2px;
}

.menu li > a i:first-child {
  margin-right: 4px;
}

.menu li > a:hover {
  background-color: #e3e3e3;
}

.sub-menu {
  padding: 0 0 0 18px;
  overflow: hidden;
  transition: 2s;
}

.iconActive {
  background-color: #ebebee;
  border-left: solid 5px #3192e1;
}

.iconActive a i {
  color: #2d353c !important;
}

.active {
  color: #3192e1 !important;
}