<div class="icon-container">
  <ul class="icon-list">
    <li *ngFor="let item of iconMenu" [ngClass]="{'iconActive': item.active}" pTooltip="{{item.tooltip}}" tooltipPosition="right">
      <a href="" (click)="sideBar($event, item)"><i class="fa fa-{{item.icon}}"></i></a>
    </li>
  </ul>
  <div class="side-menu-container" [@sidebarAnimation]="sidebarStatus">
    <div class="side-menu" [style.display]="displayMenu">

      <div class="side-tittle">
        <span>{{ activeModule.module }}</span>
        <a href="#" (click)="sideBar($event, activeModule)" class="bars-icon">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <div class="side-options" *ngIf="activeModule.module == 'Configuraciones'">

          <ul class="menu">
              <li *ngFor="let item of menu">
                <a href="#" [ngClass]="{'active': item.active}" (click)="subMenu($event, item)">
                  <i class="fa fa-{{item.icon}}"></i>
                  <span>{{item.module}}</span>
                  <i class="fa fa-angle-down" [@arrowAnimation]="item.active"></i>
                </a>

                <ul class="menu sub-menu" [@subMenuAnimation]="item.active">
                  <li *ngFor="let subItem of item.subMenu">
                    <a href="#" routerLink="{{subItem.link}}">
                      <i class="fa fa-{{subItem.icon}}"></i>
                      <span>{{ subItem.module }}</span>
                    </a>
                  </li>
                </ul>

              </li>
            </ul>

      </div>

    </div>
  </div>
</div>
