<div class="create-container">
  <div class="create-header">
    <i class="fa fa-times" (click)="closePanel()"></i>
    <h1>{{ tittle }}</h1>
  </div>
  <div class="content-window">
    <ng-content select="[tabs]"></ng-content>
    
    
  </div>
  <div>
      <ng-content select="[footerBtn]"></ng-content>
  </div>
</div>
<div #block class="block" [style.display]="isOpen ? '' : 'none'" [style.zIndex]="2" ></div>