:host {
  position: fixed;
  background-color: #fff;  
  top: 60px;
  height: calc(100% - 60px);
  width: 90%;
  box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #545b61;
  z-index: 5;
  left: 50%;
}

.create-container {
  height: calc(100% - 24px);
  background-color: #fff;
  margin: 12px 12px;
  padding: 0px 12px;
  overflow: auto;
  display: grid;
  grid-template-rows: 70px 1fr 60px;
}

.content-window {
  margin-top: 12px;
  overflow-y: auto;
}

.create-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #545b61;
}

.create-header > i {
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.block {
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0px;
  position: fixed;
  opacity: 0.5;
}