<div class="main-content-module">
  
  <div class="content-module">
    <div class="content-header">
      <h1>Perfiles</h1>
    </div>

    <button pButton label="Agregar Usuario" (click)="openCreateRole()" class="create-button" style="width:100%;"></button>
    <p-table [value]="roles" class="app-table" [loading]="loading">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Nombre</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
          <tr>
              <td>{{role.id}}</td>
              <td>{{role.name}}</td>
          </tr>
      </ng-template>

    </p-table>

  </div>
</div>
