
@for $i from 1 through 12 {
    .col-#{$i} { grid-column: auto / span #{$i} };
}

@for $i from 1 through 12 {
    @for $j from 1 through 12 {
        .col-#{$i}-offset-#{$j} { grid-column: #{$j} / span #{$i} };
    }    
}