/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    background-color: #f1f3f6;
    min-height: 100%;
}
body a {
    text-decoration: none;
    outline: 0;
}
html {
    height: 100%;
}

.main-content-module {
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap: 12px;
}
.content-header {
    grid-column: 1/13;    
    padding: 12px;
}
.content-header h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.content-module {
    grid-column: 1/13;
    background-color: #fff;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap: 12px;
    grid-column-gap: 12px;
}

.app-table {
    grid-column: 1/13;
}

.create-button {
    grid-column: 12/13;
}


.grid-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.form-content {
    display: grid;
    grid-row-gap: 12px;
}

.form-input {
    float: right;
}